body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}
section {
	margin: 250px auto 0 auto;
}
.leblue, .panel-heading {
	background-color: #4997EE !important;
}
nav a, .panel-heading, footer a {
	color: #fff !important;
}
.panel-heading {
	padding: 20px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: auto;
	background-color: #2D5896;
	color: #fff;
	padding: 20px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: #2D5896 !important;
}
.navbar-brand {
	font-size: 3em !important;
}
nav {
	padding: 20px !important;
}

aside {
	background-color: #254B7F;
	color: #FFF;
	height: 100%;
	width: 300px;
	top: 0;
	left: 0;
	position: absolute;
	padding: 100px 20px 0 20px;
}

.btn {
	margin: 50px auto !important;
}

#listed div {
	/*background-color: #f90 !important;*/
	top: -150px;
}

#listed:hover {
	background-color: #ddd;
}

#listed a i {
	color: #ddd;
	font-size: 20px;
	padding-right: 15px;
}
#listed a:hover i {
	color: #aaa;
}

#listed ul {
	margin-top:200px;
}
#listed ul li {
	list-style: none;
}
#listed img:hover {
	opacity: .8;
}
#listed .col-md-9 {
	margin-top: -25px;
}


@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
