$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

section {
  margin: 250px auto 0 auto;
}

.leblue, .panel-heading {
  background-color: #4997EE !important;
}

nav a, .panel-heading, footer a {
  color: #fff !important;
}

.panel-heading {
  padding: 20px;
}

.footer {
  background-color: #2D5896;
  color: #fff;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #2D5896 !important;
}

.navbar-brand {
  font-size: 3em !important;
}

nav {
  padding: 20px !important;
}

aside {
  background-color: #254B7F;
  color: #FFF;
  height: 100%;
  width: 300px;
  top: 0;
  left: 0;
  position: absolute;
  padding: 100px 20px 0 20px;
  // display: none;
}

.btn {
  margin: 50px auto !important;
}

#listed {

  div {
    top: -150px;
  }
  a i {
    color: #ddd;
    font-size: 20px;
    padding-right: 15px;
  }
  a:hover i {
    color: #aaa;
  }
  // ul {
  //   margin-top:200px;

  //   li {
  //     list-style: none;
  //     padding-bottom: 30px;
  //   }
  // }
  .col-md-9 {
    margin-top: -25px;
  }
  img:hover {
    opacity: .8;
  }

}

#more {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 200px;
  width: auto;
  height: auto;
  background-color: #254B7F;
  color: #fff;
  padding: 20px;
  display: none;

  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.panel-footer ul {
  margin: 0;
  padding: 0;
}
.panel-footer ul li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.bg {
  background-image: url("../images/bg.gif");
  background-position-y: -200px;
  background-position-x:  right; 
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 450px;
  width: 100%;
  position: absolute;
  // top: -150px;
}


@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
